<div class="card-size mdl-shadow--2dp">
	<div class="mdl-grid" style="padding: 0px">
	  <div class="mdl-cell mdl-cell--2-col" style="margin: 0px; width: 50%;">
	  	<img class="card-image" src="http://imagens.globoradio.globo.com/cbn/fotos/uploads2015/89029/sao353101jpg_295x295.jpg" style="width: 100%;">
	  </div>
	  <div class="mdl-cell mdl-cell--2-col" style="margin: 0px; width: 50%;">
		  <div class="card-text-container">
		  	<span class="card-text">Avião que matou ex-presidente da Vale era experimental e não tinha caixa-preta</span>
		  	<p class="card-source">Canal: Rádio CBN</p>
		  </div>
		  <div class="card-separator"></div>
		  <div class="audio-control">
			  <audio id="audio-tag">
				<source src="http://download.sgr.globo.com/sgr-mp3/cbn/2016/noticias/aviaofinal3_160320.mp3" type="audio/mpeg">
				our browser does not support the audio element.
			  </audio>
		  	<i id="play-pause" class="material-icons controls">play_circle_outline</i>
		  	<i id="add-remove" class="material-icons controls">add_circle_outline</i>
		  	<i id="favorite" class="material-icons controls">grade</i>
		  </div>
	  </div>
	</div>
</div>