<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

<style>
.card-size {
  width: 90%;
  height: 144px;
  margin: auto;
  margin-top: 10px
}
.material-icons{
	font-size: 40px;
}
.card-text{
	font-size: 12px;
	text-align: left;
}
.card-source{
	font-size: 9px;
	text-align: center;
	margin: 0px;
	color: grey;
}
.card-text-container{
	width: 95%;
	margin-left: 4%;
	margin-right: 1%;
	min-height: 100px;
}
.card-separator{
	height: 1px;
	background-color: rgba(162, 162, 162, 0.4);
	width: 80%;
	margin: auto;
}
.controls{
	color: grey;
	font-size: 35px;
}
.audio-control{
	text-align: center;
	padding-top: 3px;
}
.card-image{
	max-height: 144px;
}
</style>

<body>

	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
	  <header class="mdl-layout__header">
	    <div class="mdl-layout__header-row">
	      <!-- Title -->
	      <span class="mdl-layout-title">Welcome to Tunamin!</span>
	      <!-- Add spacer, to align navigation to the right -->
	      <div class="mdl-layout-spacer"></div>
	      <!-- Navigation. We hide it in small screens. -->
	      <nav class="mdl-navigation mdl-layout--large-screen-only">
	        <a class="mdl-navigation__link" href="">Link</a>
	        <a class="mdl-navigation__link" href="">Link</a>
	        <a class="mdl-navigation__link" href="">Link</a>
	        <a class="mdl-navigation__link" href="">Link</a>
	      </nav>
	    </div>
	  </header>
	  <div class="mdl-layout__drawer">
	    <span class="mdl-layout-title">Title</span>
	    <nav class="mdl-navigation">
	      <a class="mdl-navigation__link" href="">Link</a>
	      <a class="mdl-navigation__link" href="">Link</a>
	      <a class="mdl-navigation__link" href="">Link</a>
	      <a class="mdl-navigation__link" href="">Link</a>
	    </nav>
	  </div>
	  <main class="mdl-layout__content">
	    <div class="page-content" id="cards-container">


			<div class="card-size mdl-shadow--2dp">
				<div class="mdl-grid" style="padding: 0px">
				  <div class="mdl-cell mdl-cell--2-col" style="margin: 0px; width: 50%;">
				  	<img class="card-image" src="http://imagens.globoradio.globo.com/cbn/fotos/uploads2015/89026/pai431237jpg_295x295.jpg" style="width: 100%;">
				  </div>
				  <div class="mdl-cell mdl-cell--2-col" style="margin: 0px; width: 50%;">
					  <div class="card-text-container">
					  	<span class="card-text">Governo tem pressa e pede urgência ao STF no julgamento da posse de Lula</span>
					  	<p class="card-source">Canal: Rádio CBN</p>
					  </div>
					  <div class="card-separator"></div>
					  <div class="audio-control">
						  <audio id="audio-tag">
							<source src="http://download.sgr.globo.com/sgr-mp3/cbn/2016/noticias/lulastf2_160320.mp3" type="audio/mpeg">
							our browser does not support the audio element.
						  </audio>
					  	<i id="play-pause" class="material-icons controls">play_circle_outline</i>
					  	<i id="add-remove" class="material-icons controls">add_circle_outline</i>
					  	<i id="favorite" class="material-icons controls">grade</i>
					  </div>
				  </div>
				</div>
			</div>

			<div class="card-size mdl-shadow--2dp">
				<div class="mdl-grid" style="padding: 0px">
				  <div class="mdl-cell mdl-cell--2-col" style="margin: 0px; width: 50%;">
				  	<img class="card-image" src="http://imagens.globoradio.globo.com/cbn/fotos/uploads2015/89020/frp_plenario-da-camara-aprova-comissao-impeachment_17032016006jpg_295x330.jpg" style="width: 100%;">
				  </div>
				  <div class="mdl-cell mdl-cell--2-col" style="margin: 0px; width: 50%;">
					  <div class="card-text-container">
					  	<span class="card-text">Câmara dos Deputados deve ter semana agitada com processo de impeachment</span>
					  	<p class="card-source">Canal: Rádio CBN</p>
					  </div>
					  <div class="card-separator"></div>
					  <div class="audio-control">
						  <audio id="audio-tag">
							<source src="http://download.sgr.globo.com/sgr-mp3/cbn/2016/noticias/semanadf_160320.mp3" type="audio/mpeg">
							our browser does not support the audio element.
						  </audio>
					  	<i id="play-pause" class="material-icons controls">play_circle_outline</i>
					  	<i id="add-remove" class="material-icons controls">add_circle_outline</i>
					  	<i id="favorite" class="material-icons controls">grade</i>
					  </div>
				  </div>
				</div>
			</div>

			<div class="card-size mdl-shadow--2dp">
				<div class="mdl-grid" style="padding: 0px">
				  <div class="mdl-cell mdl-cell--2-col" style="margin: 0px; width: 50%;">
				  	<img class="card-image" src="http://imagens.globoradio.globo.com/cbn/fotos/uploads2015/89029/sao353101jpg_295x295.jpg" style="width: 100%;">
				  </div>
				  <div class="mdl-cell mdl-cell--2-col" style="margin: 0px; width: 50%;">
					  <div class="card-text-container">
					  	<span class="card-text">Avião que matou ex-presidente da Vale era experimental e não tinha caixa-preta</span>
					  	<p class="card-source">Canal: Rádio CBN</p>
					  </div>
					  <div class="card-separator"></div>
					  <div class="audio-control">
						  <audio id="audio-tag">
							<source src="http://download.sgr.globo.com/sgr-mp3/cbn/2016/noticias/aviaofinal3_160320.mp3" type="audio/mpeg">
							our browser does not support the audio element.
						  </audio>
					  	<i id="play-pause" class="material-icons controls">play_circle_outline</i>
					  	<i id="add-remove" class="material-icons controls">add_circle_outline</i>
					  	<i id="favorite" class="material-icons controls">grade</i>
					  </div>
				  </div>
				</div>
			</div>


	    </div>
	  </main>
	</div>

</body>

<script type="text/javascript">

// fill the page with content every time the user reaches the bottom of the page
$("main").scroll(function() {
   if($(window).scrollTop() + $(window).height() == $(document).height()) {
   		console.log("added")
       $.ajax({
		    url: 'http://127.0.0.1:8000/newscard',
		    type: 'get',
		    success: function(data) {
		        //console.log(data);
		        $("#cards-container").append(data);

		    },
		    failure: function(data) { 
		        alert('Got an error dude');
		    }
		}); 
   }
});

//Play and Pause Control
$("i#play-pause.material-icons.controls").click(function() {
  if ($(this).text()== "pause_circle_outline") {
  	$(this).text("play_circle_outline");
  	$(this).siblings("audio")[0].pause();
  } else {
  	$(this).text("pause_circle_outline");
  	$(this).siblings("audio")[0].play();  }
});

//restart control
var restart_buttom = $("i#play-pause.material-icons.controls");
restart_buttom.dblclick(function() {
  if ($(this).text()== "pause_circle_outline") {
  	$(this).siblings("audio")[0].currentTime = 0;
  	$(this).siblings("audio")[0].play();
  }
});

//add and remove control
$("i#add-remove.material-icons.controls").click(function() {
  if ($(this).text()== "add_circle_outline") {
  	$(this).text("highlight_off");
  } else {
  	$(this).text("add_circle_outline");  }
});

//favorite and unfavorite control
$("i#favorite.material-icons.controls").click(function() {
  if ($(this).css("color")== "rgb(128, 128, 128)") {
  	$(this).css("color", "gold");
  } else {
  	$(this).css("color", "grey");
  	 }
});
</script>
<!-- <p>
	<audio controls autoplay>
	  <source src="http://download.sgr.globo.com/sgr-mp3/cbn/2016/noticias/lulastf2_160320.mp3" type="audio/mpeg">
	  Your browser does not support the audio element.
	</audio>
</p>
 -->